.login-page {
  align-items: center;
  background-image: linear-gradient(to bottom, #eee, #d9e2ef, #b6daec, #8ed4db, #75cbba);
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-form-container {
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.login-title-container {
  background-color: var(--dark-background);
  padding: 60px 40px;
}

.login-title {
  color: var(--font-color-light);
  transform: translateY(-2px);
}

.login-title, .login-title span {
  font-size: 2rem;
  position: relative;
}

.login-title span {
  color: var(--theme);
}

.login-title:before {
  background-color: var(--theme);
  border-radius: 5px;
  bottom: -10px;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  width: 50px;
}

.user-login-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  row-gap: 20px;
}

.login-label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  row-gap: 8px;
}

.login-label input {
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  height: 38px;
  padding-inline: 10px;
  width: 290px;
}

.login-label input:focus {
  border-color: var(--theme);
}

.login-remember {
  column-gap: 5px;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
}

.login-button {
  align-self: center;
  background-color: var(--theme);
  border-radius: 5px;
  color: var(--font-color-light);
  margin-top: 15px;
  padding-block: 12px;
  width: 110px;
}

.login-button:hover {
  background-color: var(--theme);
}

.login-button:disabled {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--font-color-dark);
  cursor: not-allowed;
}

.loading-login {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
