@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  border: 15px;
  box-sizing: border-box;
  font-family: Inter , sans-serif;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 0;
}

:root {

  --theme: rgb(22 160 133);
  --primary: rgb(250 250 250);
  --secondary: rgb(245 245 245);
  --tertiary: rgb(238 238 238);
  --dark-background: #383d3b;
  --font-color-dark: rgb(33 33 33);
  --font-color-light: rgb(238 238 238);
}

::selection {
  background-color: #16a085;
  color: whitesmoke;
}

body {
  background-color: var(--primary);
  color: var(--font-color-dark);
}

button {
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}